{% extends 'core/base.html' %}

{% block contenido %}
{% load static %}
<section class="seccionA">
    <h2 >RESCATE</h2>
    <h4 class="colorGris">ETAPA UNO</h4>
    <H4 class="letraGrisOscuro">______</H4>
    <br>
    <P class="colorGris">
        Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los <br> preparamos para buscarles un hogar.
    </P>
    <br>
    <img class="imaRescate" src="{% static 'core/img/rescate.jpg' %}" alt="Perrito Rescatado">
</section>
<section class="seccionB">
    <img class="imaCrowdfunding" src="{% static 'core/img/crowfunding.jpg' %}" alt="crowfunding">
    <h2>
        CROWDFUNDING
    </h2>
    <h4 class="colorGris">FINANCIAMIENTO</h4>
    <H4 class="letraGrisOscuro">______</H4>
    <br>
    <P class="colorGris">
        Sigue nuestras redes sociales para informarte de las diversas campañas y <br> actividades que realizamos para obtener financiamiento para seguir ayudando.
    </P>
    <br>
    <ul class="campaña">
        <li><a href="#">CAMPAÑAS</a></li>
    </ul>
</section>  

{% endblock contenido %}



        